html{
    font-family: cursive;
}

body {
    margin: auto;
    background-color: rgb(115, 115, 115);
}

header{
    margin-bottom: 5%;
    padding-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    font-size: 130%;
    background-color: lightblue;
    
}

header a {
    text-decoration: none;
    color: black;
}

#headerSearch {
    height: 50%;
    width: 20%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

#recherche {
    height: 100%;
    width: 80%;
    margin: 5%;
    border: none;
    background-color:white;
}

#recherche2 {
    height: 1%;
    margin: 5%;
}

.liens{
    width: 60%;
    display: flex;
    justify-content: space-between;  
}


/*.liens a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: 2px solid rgb(129, 129, 129);
    background-color: rgb(237, 237, 237);
    padding: 0.2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5%;
}*/

main{
    text-align: center;
    
}

.prem{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.deux{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

main a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(75, 75, 75);
    padding: 0.2rem;
    border-radius: 5px;
}

main h1 img{
    width: 35%;
}